﻿
.leftside {
	background-color:#F4F4F4;
	padding:0;
	height:100vh;
	}

.header{
	text-align:center;
	background:url(~/images/pw_maze_black_2X.png) left top repeat;
	padding:280px 0;
}

.ortala{
  width:100px;
  height: 150px;
  display: table;
  position: relative;
  overflow: hidden;
  text-align:center;
  margin:0 auto;
}	

	.leftside .collapse {
		padding:0;}
	.nav.navbar-nav.navbar-dikey {
  display: block;
  float: none;
  width: 100%;
}
.nav.navbar-nav.navbar-dikey > li {
  display: block;
  float: none;
  width: 100%;
}

.nav.navbar-nav.navbar-dikey > li > a {
  display: block;
  float: none;
  width: 100%;
    color:#3F3F3F;
}
  @media only screen and (min-width : 768px) {
.nav.navbar-nav.navbar-dikey li.open .dropdown-menu {
  box-shadow: 10px 3px 12px 0 rgba(0, 0, 0, 0.26);
  left: 100%;
  top: 0;
  -moz-transform: translateX(0px);
-webkit-transform: translateX(0px);
-o-transform: translateX(0px);
-ms-transform: translateX(0px);
transform: translateX(0px);
opacity:1;
-webkit-transition: all 300ms ease;
-moz-transition: all 300ms ease;
-ms-transition: all 300ms ease;
-o-transition: all 300ms ease;
transition: all 300ms ease;
display:block;
z-index:99;
width:auto;
}
 .nav.navbar-nav.navbar-dikey li .dropdown-menu {
 -moz-transform: translateX(-100px);
-webkit-transform: translateX(-100px);
-o-transform: translateX(-100px);
-ms-transform: translateX(-100px);
transform: translateX(-100px);
opacity:0;
display:block;
left:100%;
top:0;
z-index:-10;
width:0px;
-webkit-transition: all 300ms ease;
-moz-transition: all 300ms ease;
-ms-transition: all 300ms ease;
-o-transition: all 300ms ease;
transition: all 300ms ease;

 }
    }



.nav.navbar-nav.navbar-dikey .dropdown-menu > li > a {
  padding: 10px 24px;
}


	.nav.navbar-nav.navbar-dikey > li > a .caret {
  border-width: 6px;
  display: block;
  float: right;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 5px;
  
  -moz-transform: rotate(0deg);
-webkit-transform: rotate(0deg);
-o-transform: rotate(0deg);
-ms-transform: rotate(0deg);
transform: rotate(0deg);
}
.nav.navbar-nav.navbar-dikey > li.open > a .caret {
-moz-transform: rotate(-90deg);
-webkit-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
transform: rotate(-90deg);

}
	background-color: #DBDBDB;
}
 
ul#menu{
	width:265px;
	margin:150px auto;
	font-family:'Open Sans',sans-serif;
}
ul#menu li{
	list-style:none;
	width:100%
	height:55px;
}
ul#menu li a{
	display:block;
	color:#000;
	font-size: 18px;
	font-weight:700;
  text-decoration: none;
	background-color: #f1f1f1;
	border-left:5px solid #000;
	border-bottom:1px solid #ddd;
	padding:15px 15px;
	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
	    -ms-transition: all .5s;
	     -o-transition: all .5s;
	        transition: all .5s;
}
body {
    margin: 0;
}
.menu {
    padding: 0px;
    width: 100;
    list-style-type:none; 
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-color: white;

}
.menu ul {
    list-style: none;
}
.menu ul li a {
    backgraund: #20b2aa;
    color: #000000;
    font: 16 verdana, ariel;
    display:block;
    padding: 0px;
    text-decoration: none;
}
.menu ul li li a{
     backgraund: #20b2aa;
    color: #000000;
    font: 16 verdana, ariel;
    display:block;
    padding: 0px;
    text-decoration: none;
    
}
#etkinlikler{ border-left: none ;}
#etkinlikler:hover{ background: pink;}
#sporlar{ border-left: 5px solid ;}
#sporlar:hover{ background: blue;}
#Hakkimizda{ border-left: none ;}
#Hakkimizda:hover{ background:pink ;}
#rafting{ border-left: none ;}
#rafting:hover{ background: blue;}
#climbing{ border-left: none ;}
#climbing:hover{ background: pink;}
#surfing{ border-left :5px solid ;}
#surfing:hover{ background: blue;}
#dagbisikleti{ border-left: none ;}
#dagbisikleti:hover{ background: pink;}
#yamac{ border-left :none ;}
#yamac:hover{ background: blue;}
#pk{ border-left :none ;}
#pk:hover{ background: pink;}