﻿
@{
    ViewBag.Title = "dagBisikleti";
    Layout = "~/Views/Shared/_LayoutYeni.cshtml";
}


<div class="w3-container w3-teal">
    <h1>Dağ Bisikleti</h1>
</div>

<div class="w3-row-padding w3-margin-top">
    <div class="w3-third">
        <div class="w3-card">
            <img src="img_5terre.jpg" style="width:100%">
            <div class="w3-container">
                <h5>5 Terre</h5>
            </div>
        </div>
    </div>

    <div class="w3-third">
        <div class="w3-card">
            <img src="img_monterosso.jpg" style="width:100%">
            <div class="w3-container">
                <h5>Monterosso</h5>
            </div>
        </div>
    </div>

    <div class="w3-third">
        <div class="w3-card">
            <img src="img_vernazza.jpg" style="width:100%">
            <div class="w3-container">
                <h5>Vernazza</h5>
            </div>
        </div>
    </div>
</div>

<div class="w3-row-padding w3-margin-top">
    <div class="w3-third">
        <div class="w3-card">
            <img src="img_manarola.jpg" style="width:100%">
            <div class="w3-container">
                <h5>Manarola</h5>
            </div>
        </div>
    </div>

    <div class="w3-third">
        <div class="w3-card">
            <img src="img_corniglia.jpg" style="width:100%">
            <div class="w3-container">
                <h5>Corniglia</h5>
            </div>
        </div>
    </div>

    <div class="w3-third">
        <div class="w3-card">
            <img src="img_riomaggiore.jpg" style="width:100%">
            <div class="w3-container">
                <h5>Riomaggiore</h5>
            </div>
        </div>
    </div>
</div>
