﻿@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_LayoutYeni.cshtml";
}


<div class="w3-container">
    <h2>Text Alignments</h2>

    <div class="w3-container w3-border w3-large">
        <div class="w3-left-align"><p>Left aligned text.</p></div>
    </div>
</div>
