﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutYeni.cshtml";
}


<div class="col-md-10">

    <div class="w3-content w3-display-container">

        <div class="w3-display-container mySlides">
            <h2>Rafting</h2>
            <p>Rafting, debisi bir miktarda olsa yüksek ve akış hızı ortalamanın üstünde olan nehirler üzerinde yapılan ekstrem bir spordur. Kabaca “Raft” adı verilen basit bir bot ile, oldukça azgın bir şekilde akan nehre karşı verilen bir mücadeledir Rafting. 6 – 8 kişi arasında oluşan ekipler ile yapılan bu sporun sonunda ıslanmadan karaya çıkmak istiyorsanız, ekip arkadaşlarınız ile tam bir uyum içerisinde olmanız gerekiyor.</p>
            <img src="~/images/rafting.jpg" style="width:100%">
            <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                Rafting
            </div>

        </div>


        <div class="w3-display-container mySlides">
            <h2>Climbing(Dağcılık)</h2>
            <p>Dağcılık, dağlarda yürüyüş ve kamp kurmanın yanı sıra teknik malzeme kullanarak tırmanma sporunu da kapsayan bir doğa sporudur.18.-19. yüzyılda Avrupalı (İngiliz ve Fransızlar başta olmak üzere) zenginlerin boş zamanlarını değerlendirmek ve hayatlarının rutinakışını yeni maceralarla süsleme arayışı neticisinde bir sporsayılmaya başlanan dağcılık, 20.yüzyılın başında diğer ulusların da ilgisini çekmeyi başarmıştır. Uluslararası bir spor haline gelmesi ise, 1931 yılında, merkezi Cenevre'de olan Uluslararası Dağcılar Birliği (UIAA)'nin kurulmasıyla mümkün olmuştur. İzleyen yıllarda, belirli teknik ve emniyet yöntemlerinin geliştirilmesine paralel olarak kendine özgü disiplini ve ilkeleri olan bir spor dalı haline dönüşen dağcılık, birçok doğa sporunun da önünü açmıştır.</p>
            <img src="~/images/climbing.jpg" style="width:100%">
            <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                Climbing
            </div>
        </div>

        <div class="w3-display-container mySlides">
            <h2>Surfing</h2>
            <p>Sörf; genel olarak kıyıya yaklaşan yüksek boyutlu dalgalar üzerinde ya da rüzgâr gücünün yeterli seviyede olduğu ortamlarda değişik boyutlardaki tahta, tahtaya ilave olarak yelken veya paraşüt ile yapılabilen bir su sporudur.</p>
            <img src="~/images/surfing.jpg" style="width:100%">
            <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                Surfing
            </div>
        </div>

        <div class="w3-display-container mySlides">
            <h2>Dağ Bisikleti</h2>
            <p>Dağ bisikletçiliği asfalt gibi düzgün zeminler dışına çıkılmak suretiyle toprak yol patika ve her tür arazide yapılabilen bir bisiklet sporu dalıdır. Dağ bisikleti; yokuş aşağı kros serbest engel atlama teknik denemeler tam engebeli arazi yol turu arazi turu cadde-sokak gibi alt disiplinlere ayrılır. Yarışlar maraton oryantiring veya olimpiyat kıstaslarına uyarlanarak da düzenlenmektedir. Ülkemizde özellikle 90’lı yıllardan sonar gelişim gösteren dağ bisikletçiliği özellikle Alanya Köprülü Kanyon Likya Yolu ve Kapadokya bölgelerinde çok yaygın olarak yapılmakta olup sözü geçen yörelerdeki arazi şartlarının bu spora uygunluğu yerli yabancı turistlerin yoğun ilgisini çekmektedir.</p>
            <img src="~/images/dag.jpg" style="width:100%">
            <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                Dağ Bisikleti
            </div>
        </div>

        <div class="w3-display-container mySlides">
            <h2>Yamaç Paraşütü</h2>
            <p>Yamaç Paraşütü sporu, ilk bakışta serbest atlama paraşütüne benzeyen bir paraşüt ile uçak yerine, yüksek bir tepeden koşulmak sureti havalanmaktır.Eğimli ve yüksek bir tepeye açık olarak serilen paraşüt, pilotun koşmaya başlaması ile hava ile dolar ve pilotla birlikte havalanır. Uçuşların süresi kullanılan malzemenin performansı ve pilotun tecrübesine bağlı olarak kilometrelerce /saatlerce sürebilir. Tek kişi olabileceği gibi iki kişilik ( tandem ) kanatları da vardır. </p>
            <img src="~/images/paragliding.jpg" style="width:100%">
            <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                Yamaç Paraşütü
            </div>
        </div>

        <div class="w3-display-container mySlides">
            <h2>Parkour&Freerun</h2>
            <p>Parkour, bir noktadan başka bir noktaya insan vücudunun yeteneklerini en verimli şekilde kullanıp, sınırlarını da zorlayarak, hızlı ve etkili biçimde hareket etmesini hedefleyen bir beden eğitimi türü ve yaşam tarzıdır, erkek sporcularına Traceur kadınlara ise Traceuse denir, "iz bırakan" manasına gelir.</p>
            <img src="~/images/freerun.jpg" height="450" width="753">
            <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                Parkour&Freerun
            </div>
        </div>

        <button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>

    </div>





</div>
    