﻿@using webProje.Models
@model LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Extreme Sports</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/Content/w3.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Anasayfa.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    @Styles.Render("~/Content/Anasayfa.css")
    @Scripts.Render("~/bundles/modernizr")

    
</head>
<body >
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-2 col-sm-4" >
                <a href="~/Home/Index">
                    <img src="~/images/logo.jpg" style="width:100%"  height="170" />
                 </a>
                </div>

            <div class="col-md-7 col-sm-8">
                <img src="~/images/banner.png" style="width:100%" height="150" />
            </div>  
            <div class="col-md-3 col-sm-12" style="padding:20px">
                <form class="form-horizontal">

                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                              
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })         
                        <div class="col-sm-6">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                           
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10"> 
                            <button type="submit" class="btn btn-default">Giriş</button>
                           
                            <button href="~/Account/Register" class="btn btn-default">Üye Ol</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-sm-12">

                <div class="w3-bar-block w3-light-grey w3-card">
                    <a href="~/Home/Etkinlikler" class="w3-bar-item w3-button">Etkinlikler</a>
                    <div class="w3-bar-item w3-button" onclick="myAccFunc()">  Sporlar <i class="fa fa-caret-down"></i>
                    </div>
                    <div id="demoAcc" class="w3-hide w3-white w3-card-4">
                        <a href="/rafting" id="rafting" class="w3-bar-item w3-button">Rafting</a>
                        <a href="~/Home/climbing" id="climbing" class="w3-bar-item w3-button">Climbing</a>
                        <a href="~/Home/surfing" id="surfing" class="w3-bar-item w3-button">Surfing</a>
                        <a href="~/Home/dagBisikleti" id="dagbisikleti" class="w3-bar-item w3-button">Dag Bisikleti</a>
                        <a href="~/Home/paragliding" id="yamac" class="w3-bar-item w3-button">Yamaç Paraşütü</a>
                        <a href="~/Home/parkour" id="pk" class="w3-bar-item w3-button">Parkour&Freerun</a>
                    </div>
                    <a href="~/Home/Hakkimizda" class="w3-bar-item w3-button"> Hakkimizda</a>
                </div>
              
            </div>
            <div class="col-md-8 col-sm-12">
                @RenderBody()

                
            </div>
         </div>

 
    
        <script>
            function myAccFunc() {
                var x = document.getElementById("demoAcc");
                if (x.className.indexOf("w3-show") == -1) {
                    x.className += " w3-show";
                    x.previousElementSibling.className += " w3-green";
                } else {
                    x.className = x.className.replace(" w3-show", "");
                    x.previousElementSibling.className =
                    x.previousElementSibling.className.replace(" w3-green", "");
                }
            }

            function myDropFunc() {
                var x = document.getElementById("demoDrop");
                if (x.className.indexOf("w3-show") == -1) {
                    x.className += " w3-show";
                    x.previousElementSibling.className += " w3-green";
                } else {
                    x.className = x.className.replace(" w3-show", "");
                    x.previousElementSibling.className =
                    x.previousElementSibling.className.replace(" w3-green", "");
                }
            }
        </script>

        <script>
            var slideIndex = 1;
            showDivs(slideIndex);

            function plusDivs(n) {
                showDivs(slideIndex += n);
            }

            function showDivs(n) {
                var i;
                var x = document.getElementsByClassName("mySlides");
                if (n > x.length) { slideIndex = 1 }
                if (n < 1) { slideIndex = x.length }
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                x[slideIndex - 1].style.display = "block";
            }
        </script>
        
        <script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
     showDivs(slideIndex += n);
    }

    function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";
    }
    x[slideIndex-1].style.display = "block";
    }
    </script>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
